/* use body to set default color palattes, fonts, and margins */
body {
    background-color: #DACFBD;
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
}

/* set styles for all elements specifically in nav tag */
nav {
    display: flex;
    justify-content: center;
    background-color: #02332D;
    color: #BF9861;
    font-size: larger;
    margin: 0px;
    padding: 0px;
}

/* set styles for all elements wrapped in div tag */
div {
    margin: auto;
    padding: 1rem;
    color: #02332D;
    font-size: 18px;
}

h3 {
    font-size: 26px;
    color: #AE431E;
}

a { color: #AE431E;}