/* use body to set default color palattes, fonts, and margins */
body {
    background-color: #DACFBD;
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #02332D;
    color: #BF9861;
    font-size: larger;
    margin: 0px;
    padding: 0px;
}

div {
    margin: auto;
    padding: 1rem;
}

p {
    font-size: 18px;
}